*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f7f8;
    font-family: sans-serif;
}

/* header */
header{
    background-color: white;
}

img{
    padding: 5px;
    vertical-align: middle;
}

header #title {
    display: inline-block;
    font-size: 45px;
    margin: 0;
    vertical-align: middle;
}
/* /header */

/* main */
main{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
}

/* nav */
main #sezionenav{
    padding: 50px 0 2px 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.button{
    background-color: white;
    padding: 10px;
    padding-left: 50px;
}

nav #bluebutton{
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
    border-radius: 4px;
    padding:6px 10px;
}

nav #lightbutton{
    color: #c8ced2;
    border-color: #c8ced2;
    border-radius: 4px;
    padding: 6px 10px;
}
/* /nav */

/* liste */
#sezionecentrale{
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-top: 50px;
}

ul{
    list-style-type: none;
    padding-bottom: 30px;
}


li{
    padding: 10px;
    padding-left: 0;
}

#sezionecentrale span{
    display: inline-block;
    margin-right: 10px;
}

#sezionecentrale .check{
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    line-height: 1.5em;
    text-align: center;
}

#sezionecentrale .cross{
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    line-height: 1.5em;
    text-align: center;
}

.bluetext{
    background-color: #45ABEA;
    color: white;
    border-radius: 18px;
    font-size: 0.8em;
    padding: 5px;
}

.purpletext{
    background-color: #9C72E4;
    color: white;
    border-radius: 18px;
    font-size: 0.8em;
    padding: 5px;
}

.greentext{
    background-color: #64c0a9;
    color: white;
    border-radius: 18px;
    font-size: 0.8em;
    padding: 5px;
}

.redtext{
    background-color: red;
    color: white;
    border-radius: 18px;
    font-size: 0.8em;
    padding: 5px;
}
/* /liste */
/* /main */
